*{
    margin:0;
    padding:0;
}
html,
body {
	font-family: "Raleway", sans-serif;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
    width:100%;
    height:100%;
}
.container {
  display: grid;
  justify-content: center;

}
ul li {
	display: inline-block;
	list-style: none;
	position: relative;
  text-align: justify; 
  text-align-last: justify;
}

li {
 padding:50px 30px;
}
